.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 20rem;
  width: 67rem;
  margin: auto;
}

.carousel-item {
  text-align: center;
}

.carousel {
    height: 100%;
    justify-content: center;
  }

  